.post {
    margin-top: 7.5vh;
}
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-title {
    color: #6320EE;
}
.votes {
    display: flex;
    color: #FFECD6;
}
.votes button {
    margin-inline: 1rem;
}
.post img {
    width: 100%;
}
img[src=""] {
    display: none;
}
.below-post {
    display: flex;
}
.post-author {
    color: #9567f3;
    margin-left: 0;
}