.post {
    margin-top: 10vh;
}
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-title {
    color: #6320EE;
}
.votes {
    display: flex;
    color: #FFECD6;
}
.vote-value {
    font-weight: 600;
    font-size: 1.25rem;
}
.vote-action {
    font-size: 2rem;
}
.vote-action-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #9567f3;
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 2rem;
  }
  .up-vote {
    color: #A23E48 !important;
  }
  
  .down-vote {
    color: #5EB1BF !important;
  }
  .up-vote:hover {
    color: #A23E48 !important;
  }
  
  .up-vote.active {
    color: #A23E48 !important;
  }
  
  .down-vote:hover {
    color: #5EB1BF !important;
  }
  
  .down-vote.active {
    color: #5EB1BF !important;
  }
.post img {
    width: 100%;
}
img[src=""] {
    display: none;
}
.below-post {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.post-author, .post-time {
    color: #9567f3;
}
.comment-toggle {
  color: #9567f3;
}
.show-comments-button {
  font-size: 1.25rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 2rem;
  padding-right: .5rem;
}
.show-comments {
    color: #9567f3;
}
.comments-loading {
  color: #FFECD6;
}
.comments-error {
  color: #FFECD6;
}


@media (max-width: 950px) {
  .post-header {
    flex-direction: column;
    align-items: center;
  }
}